*{
    background:#808080;
}
header{
    color:blue;
    text-align: center;
}
div{
    text-align: center;
}
blockquote,address{
    font-family: 'Times New Roman', Times, serif;
    font-size: x-large;
}
p{
    color: blueviolet;
    font-size: medium;
}